FOR Loop

In [2]:
L = [2,3,4,5,6,7,8,9,10]

for value in L :
    print(value)

2
3
4
5
6
7
8
9
10

In [3]:
for x in L :
    print(x*2)

4
6
8
10
12
14
16
18
20

In [4]:
for i in L :
    if i%2 == 0:
        print(i)

2
4
6
8
10

In [5]:
k = []

for y in L :
    if y%2 != 0:
        k.append(y)
k

[3, 5, 7, 9]

In [6]:
for q in L :
    print(q*3, end=" | ")

6 | 9 | 12 | 15 | 18 | 21 | 24 | 27 | 30 |

In [7]:
s = []
for w in [1,4,7]:
    s.append(L[w])

s

[3, 6, 9]

In [8]:
range(1,10)
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
tuple(range(1,11))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [10]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [11]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [13]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [14]:
d = [2,4,6,21,8,55,52,57,61,78,88,9,0,93,7,5,47,4]
f= []
for i in range(len(d)):
    if i%2 == 0:
        f.append(d[i])
d

[2, 4, 6, 21, 8, 55, 52, 57, 61, 78, 88, 9, 0, 93, 7, 5, 47, 4]

In [15]:
l = [1,3,4,5,6,4,55,76,52,46,68,75,78,91,30]

for j in l:
    if j >= 35:
        break

    print(j, end=" ")

1 3 4 5 6 4

In [16]:
l = [1,3,4,5,6,4,55,76,52,46,68,75,78,91,30]

for j in l:
    if j >= 50:
        continue

    print(j, end=" ")

1 3 4 5 6 4 46 30

In [17]:
Lk = [1,2,3,4,5,6,7,8,9]
In = [10,20,30,40,50,60,70,80]
SN = []
CH = []
for i in Lk:
    for j in In:
        SN.append(i+j)

print(SN)

[11, 21, 31, 41, 51, 61, 71, 81, 12, 22, 32, 42, 52, 62, 72, 82, 13, 23, 33, 43, 53, 63, 73, 83, 14, 24, 34, 44, 54, 64, 74, 84, 15, 25, 35, 45, 55, 65, 75, 85, 16, 26, 36, 46, 56, 66, 76, 86, 17, 27, 37, 47, 57, 67, 77, 87, 18, 28, 38, 48, 58, 68, 78, 88, 19, 29, 39, 49, 59, 69, 79, 89]

In [18]:
for i in Lk:
    for j in In:
        if j%2 == 0:
            CH.append(i+j)

print(CH)

[11, 21, 31, 41, 51, 61, 71, 81, 12, 22, 32, 42, 52, 62, 72, 82, 13, 23, 33, 43, 53, 63, 73, 83, 14, 24, 34, 44, 54, 64, 74, 84, 15, 25, 35, 45, 55, 65, 75, 85, 16, 26, 36, 46, 56, 66, 76, 86, 17, 27, 37, 47, 57, 67, 77, 87, 18, 28, 38, 48, 58, 68, 78, 88, 19, 29, 39, 49, 59, 69, 79, 89]

In [19]:
g = {2*i for i in Lk}
g

{2, 4, 6, 8, 10, 12, 14, 16, 18}

In [20]:
marks = [54,32,56,75,65,45,68,78,90,87,12,46,36]
passed_marks = [m for m in marks if m>=50]
print(passed_marks)

[54, 56, 75, 65, 68, 78, 90, 87]

In [21]:
marks = [54,32,56,75,65,45,68,78,90,87,12,46,36]
result = ["PASS" if m>=50 else "FAIL" for m in marks]
print(result)

['PASS', 'FAIL', 'PASS', 'PASS', 'PASS', 'FAIL', 'PASS', 'PASS', 'PASS', 'PASS', 'FAIL', 'FAIL', 'FAIL']

In [22]:
marks = [54,32,56,75,65,45,68,78,90,87,12,46,36]
grades = ["A" if m>=75 else "B" if m>=65 else "C" if m>=55 else "C" if m>=45 else "F" for m in marks]
print(grades)

['C', 'F', 'C', 'A', 'B', 'C', 'B', 'A', 'A', 'A', 'F', 'C', 'F']

In [23]:
p = [i+j for i in Lk for j in In]
print(p)

[11, 21, 31, 41, 51, 61, 71, 81, 12, 22, 32, 42, 52, 62, 72, 82, 13, 23, 33, 43, 53, 63, 73, 83, 14, 24, 34, 44, 54, 64, 74, 84, 15, 25, 35, 45, 55, 65, 75, 85, 16, 26, 36, 46, 56, 66, 76, 86, 17, 27, 37, 47, 57, 67, 77, 87, 18, 28, 38, 48, 58, 68, 78, 88, 19, 29, 39, 49, 59, 69, 79, 89]

In [24]:
v = [2*j for i in Lk for j in In]
print(v)

[20, 40, 60, 80, 100, 120, 140, 160, 20, 40, 60, 80, 100, 120, 140, 160, 20, 40, 60, 80, 100, 120, 140, 160, 20, 40, 60, 80, 100, 120, 140, 160, 20, 40, 60, 80, 100, 120, 140, 160, 20, 40, 60, 80, 100, 120, 140, 160, 20, 40, 60, 80, 100, 120, 140, 160, 20, 40, 60, 80, 100, 120, 140, 160, 20, 40, 60, 80, 100, 120, 140, 160]

In [26]:
AB = [[1,2],[3,4],[5,6],[7,8],[9,0]]
AB

[[1, 2], [3, 4], [5, 6], [7, 8], [9, 0]]

In [28]:
for i in AB:
    print(i)

[1, 2]
[3, 4]
[5, 6]
[7, 8]
[9, 0]

In [31]:
CD = []

for i in AB:
    CD.append(sum(i))

print(CD)

for i,j in AB:
    print(i)
    print(j)
    print("**********")
    print(i+j)
    print("********")

[3, 7, 11, 15, 9]
1
2
**********
3
********
3
4
**********
7
********
5
6
**********
11
********
7
8
**********
15
********
9
0
**********
9
********